/*HEADER*/

.header {
    position: absolute;
    top: 0;
    bottom: 100%;
    left: calc(50% - 220px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 85px;
    margin-bottom: 142px;

    z-index: 10;
}

.header__container {
    margin: 0 auto;
}

.header__nav .nav__list {
    display: flex;
    gap: 43px;
    align-items: center;
}


.header__nav .nav__item.active {
    opacity: 0.5;
}

.header__nav .nav__item {
    transition: opacity .3s ease;
    position: relative;

}

.header__nav li a {
    display: flex;
}

.header__nav .nav__item:nth-child(5) {
    padding: calc(5px / 2) 0;
}

.header__nav .nav__item:nth-child(6) {
    padding: 4px 0;
}

.header__nav .nav__item::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(72, 43, 231, 0.7);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease;
}

.header__nav .nav__item.clients-page::after {
    background-color: rgba(255, 255, 255, 0.7);
}

.header__nav .nav__item:hover::after,
.header__nav .nav__item.active::after {
    transform: scaleX(1);
    transform-origin: left;
}


