.contact {
    display: flex;
    justify-content: center;
    color: white;
}

.contact__container {
    display: flex;
    gap: 90px;
    align-self: center;
}

.contact .section__content {
    margin-top: 50px;
}

.contact__info-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contact__info-item {
    margin-left: 35px;
}

.contact__info-item a {
    color: white;
    text-decoration: underline;
}

.contact__info-item:nth-child(1)::before {
    content: url("../img/contact/fa-phone.svg");
    width: 15px;
    height: 38px;
    position: absolute;
    top: 0;
    left: 0;
}

.contact__info-item:nth-child(2)::before {
    content: url("../img/contact/fa-envelope.svg");
    width: 15px;
    height: 38px;
    position: absolute;
    top: 53px;
    left: -1.5px;
}

.contact__info-item:nth-child(3)::before {
    content: url("../img/contact/fa-building-o.svg");
    width: 15px;
    height: 38px;
    position: absolute;
    top: 100px;
    left: 0;
}

.contact .section__text {
    margin-bottom: 52px;
}

.contact .section__right-side form {
    display: flex;
    flex-wrap: wrap;
    padding: 57px 50px;
}

.contact input, .contact select {
    border-radius: 100px;
    border: 2px solid rgba(235, 234, 237, 1);
    padding: 12px 24px;
}

.contact form {
    color: rgba(30, 14, 98, 1);
    position: relative;
}

.contact label[for='name'] {
    width: 200px;
    margin-right: 30px;
    text-align: start;
}

.contact label {
    margin-bottom: 6px;
}

.contact label[for='budget'] {
}

.contact input[id='name'] {
    width: 200px;
    height: 50px;
    margin-right: 30px;
}

.contact input {
    margin-bottom: 35px;
}

.contact textarea {
    margin-bottom: 45px;
    width: 370px;
    height: 110px;
    border-radius: 10px;
    border: 2px solid rgba(235, 234, 237, 1);
    padding: 12px 24px;

}

.contact select[id='budget'] {
    width: 140px;
    height: 50px;
    appearance: none;

}

.contact select::placeholder, .contact textarea::placeholder, .contact input::placeholder {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.contact form::after {
    content: url("../img/contact/Arrow.svg");
    width: 12px;
    height: 7px;
    position: absolute;
    top: 97px;
    left: 390px;

    pointer-events: none;
}

.contact input[id='inputField'] {
    width: 370px;
}

.contact__submit-row {
    display: flex;
    align-items: center;
    height: 50px;
}

.contact__submit-row button {
    border-radius: 100px;
    background-color: RGB(37, 218, 197);
    color: white;
    padding: 12px 39px;

    margin-left: 100px;

    transition: all .3s ease;
}

.contact__submit-row button:hover {
    transform: translateY(-2px) scale(1.03);
    border: rgb(72 43 231) 2px solid;
    box-shadow: 0 0 10px 5px rgba(155, 137, 241, 0.7);
}

.contact__submit-row button:active {
    transform: translateY(-1px) scale(0.98);
}

.contact__submit-row input:checked {
    accent-color: rgba(37, 218, 197, 1);
}

.contact__submit-row input {
    margin-right: 12px;
    margin-bottom: 0;
    width: 22px;
    height: 22px;

}