/* MAIN SCREEN */

.hero {
    background: url('../img/index/bg.png') no-repeat top center;
    background-size: cover;
}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    color: white;
}

/* SLIDER */

.slider {
    margin-top: 300px;
    position: relative;
}

/* SLIDE`S STYLES*/

.slide {
    justify-items: center;
    text-align: center;
    margin-bottom: 48px;
    width: 740px;
    height: 280px;

    transform: translateY(20px);
    opacity: 0;
    position: absolute;
    visibility: hidden;

    will-change: transform, opacity;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    transition: all 0.5s ease;
}

.slide.active {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    position: relative;
}


.slide__tagline {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.29px;
    margin-bottom: 22px;
}

.slide__title {
    font-weight: 700;
    font-size: 72px;
    letter-spacing: -1px;
    line-height: 86px;
    margin-bottom: 28px;
}

.slide__description {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
}

/* Анимации появления элементов */
body:not(.preload) .slide.active .slide__tagline {
    animation: fadeInUp 0.6s ease-out 0.2s both; /* delay 0.2s */
}

body:not(.preload) .slide.active .slide__title {
    animation: fadeInUp 0.6s ease-out .4s both; /* delay 0.4s */
}

body:not(.preload) .slide.active .slide__description {
    animation: fadeInUp 0.6s ease-out .6s both; /* delay 0.6s */
}

/* NAV BUTTONS */

.btn-next, .btn-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-bottom: 5px;
    font-size: 40px;
    position: absolute;
    transition: all .3s ease;
    cursor: pointer;
}

.btn-next:hover, .btn-prev:hover {
    transform: scale(1.3) translateY(-2px);
    background-color: rgba(255, 255, 255, 0.2);
}

.btn-prev {
    top: 76px;
    left: -206px;
}

.btn-next {
    top: 76px;
    right: -206px;
}

/* SLIDER DOTS */

.slider-dots {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 10px;
    margin-bottom: 58px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);

    transition: all .3s ease;
}

.slider-dots:hover {
    transform: scale(1.3);
    background: rgba(255, 255, 255, 0.15);
}


.dot {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    color: transparent;
    border-radius: 50%;
    border: 2px solid white;
    width: 12px;
    height: 12px;
    opacity: .7;

    transition: transform .3s ease;
}

.dot:hover {
    transform: scale(1.5);
    background: rgba(255, 255, 255, 0.5);
}

.dot.active {
    background-color: white;
    transform: scale(1.18);
}

/* REGISTRATION BUTTON */

.btn-register {
    border-radius: 100px;
    max-width: 230px;
    max-height: 60px;
    padding: 17px 36px;
    font-size: 18px;
    font-weight: 500;
    background-color: rgba(72, 43, 231, .4);
    backdrop-filter: blur(6px);
    border: rgb(72 43 231) 2px solid;
    color: white;

    transition: all .3s ease;
}

.btn-register:hover {
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 0 10px 2px rgba(155, 137, 241, 0.7);
}

.btn-register:active {
    transform: translateY(-1px) scale(0.98);
}

/*SAMPLE*/


.sample {
    position: relative;
    background: linear-gradient(135deg, rgba(26, 26, 46, 0.5) 0%, rgba(22, 33, 62, 0.5) 100%),
    url("../img/sample/Image.png") center/cover no-repeat;
    color: white;
    padding: 180px 0;
}

.sample::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
    z-index: 10;
}

.sample__container {
    position: relative;
    z-index: 20;
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.sample__tagline {
    color: #6c63ff;

    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.29px;
    margin-bottom: 22px;

    text-transform: uppercase;

    opacity: 0;
    will-change: opacity, transform, text-shadow;
}

.sample__title {
    font-weight: 700;
    font-size: 72px;
    letter-spacing: -1px;
    line-height: 86px;
    margin-bottom: 28px;

    opacity: 0;
    will-change: opacity, transform;
}

.sample__description {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;

    opacity: 0;
    will-change: opacity, transform;
}

.section--active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.btn-onTop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(72, 43, 231, 0.4);
    backdrop-filter: blur(6px);
    border: 2px solid rgba(72, 43, 231, 0.8);
    color: white;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 4px 15px rgba(72, 43, 231, 0.2);
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    position: relative;
    z-index: 10;
    margin-top: 80px;
}

.btn-onTop:hover {
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 0 10px 2px rgba(155, 137, 241, 0.7);
    background-color: rgba(72, 43, 231, 0.5);
}

.btn-onTop:active {
    transform: translateY(-1px) scale(0.98);
    box-shadow: 0 0 5px 1px rgba(155, 137, 241, 0.5);
}


/* ANIMATIONS */
/* FROM BOTTOM TO TOP */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes glowEffect {
    0% {
        text-shadow: 0 0 5px rgba(72, 43, 231, 0.5);
    }
    50% {
        text-shadow: 0 0 10px rgba(72, 43, 231, 0.8),
        0 0 10px rgba(155, 137, 241, 0.6);
    }
    100% {
        text-shadow: 0 0 5px rgba(72, 43, 231, 0.5);
    }
}