@import url("variables.css");
@import url("__header.css");
@import url("hero.css");
@import url("features.css");
@import url("section-comp.css");
@import url("registration.css");
@import url("clients.css");
@import url("callAction.css");
@import url("showCase.css");
@import url("team.css");
@import url("contact.css");
@import url("pricing.css");
@import url("__footer.css");
@import url("preloader.css");
@import url("privatePolicy.css");
@import url("terms.css");

* {
    border: 0;
    margin: 0;
    padding: 0;
}

*::after,
*::before,
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

li a {
    color: white;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: var(--background-body);
    overflow: hidden;
}

body.preload {
    animation: none !important;
    transition: none !important;
}

.container {
    max-width: 1170px;
}

section {
    min-height: 100vh;
    scroll-snap-align: center;
}

footer {
    scroll-snap-align: center;
}


