
.registration {
    background-image: url("../img/sample/Image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    display: flex;
    justify-content: center;

    color: white;

    position: relative;
}


.registration__container {
    display: flex;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    gap: 130px;

}

.registration .section__title {
    margin-bottom: 0;
}

.registration .section__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}


.registration__tabs {
    display: flex;
    margin-bottom: 42px;
}

.btn-tab {
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;

    background-color: inherit;
    color: rgba(21, 20, 57, 0.4);
    width: 235px;
    height: 68px;
    cursor: pointer;

    transition: all .5s ease;

}

.btn-tab.active {
    border-bottom: 3px solid rgba(30, 14, 98, 1);
    color: rgba(30, 14, 98, 1);

    transition: all .5s ease;
}

.reg-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.reg-form input {
    border-radius: 100px;
    border: 2px solid rgba(235, 234, 237, 1);
    color: rgba(30, 14, 98, 1);

    width: 330px;
    height: 50px;
    padding: 0 24px;
}

.reg-form input::placeholder {
    padding: 12px 218px 12px 24px;
    color: rgba(21, 20, 57, 0.4);

    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.btn-form {
    border-radius: 100px;
    color: white;

    width: 330px;
    height: 50px;
    padding: 0 24px;
    margin-top: 10px;

    font-size: 18px;
    font-weight: 500;
    line-height: 26px;

    transition: all .3s ease;

}

#btn-form1 {
    background-color: rgba(37, 218, 197, 1);

}

#btn-form2 {
    background-color: rgba(29, 161, 242, 1);
}

.form__divider {
    color: rgba(20, 20, 20, .3);
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;

    margin: 20px;
}

.form__divider hr {
    background-color: rgba(20, 20, 20, .1);
    width: 142px;
    height: 2px;
}

.registration .btn-back {
    position: absolute;
    top: -100px;
    left: 60px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px ghostwhite solid;
    text-align: center;
    margin-top: 155px;
    padding: 10px;
    background-color: rgba(72, 43, 231, 1);
    color: white;
    transition: transform .3s ease, box-shadow .3s ease, border .3s ease, font-size .3s ease;
}

.registration .btn-back:hover {
    transform: scale(1.2);
    font-size: 16px;
    border: rgb(72 43 231) 2px solid;
    box-shadow: 0 0 10px 5px rgba(155, 137, 241, 0.7);

}

.registration .btn-back:active {
    transform: scale(1.1);
}

/**/

.btn-form:hover {
    transform: translateY(-2px) scale(1.03);
    border: rgb(72 43 231) 2px solid;
    box-shadow: 0 0 10px 5px rgba(155, 137, 241, 0.7);
}

.btn-form:active {
    transform: translateY(-1px) scale(0.98);
}